:root {
    --sortedThBorder: 2px solid aqua;
}

.table {
    width: 100%;
}

.table thead {
    background-color: antiquewhite;
}

.table thead th {
    cursor: pointer;
}

.table__header {
    outline: none;
}

.table__header.header__sorted--desc, .table__sorting-panel .table__sorting__badge.table__sorting__badge--desc {
    border-bottom: var(--sortedThBorder);
}

.table__header.header__sorted--asc, .table__sorting-panel .table__sorting__badge.table__sorting__badge--asc {
    border-top: var(--sortedThBorder);
}

.table tbody tr.selected {
    background-color: aquamarine;
}

.table__progress td {
    text-align: center;
    padding: 10px 0;
}

/* pagination */
.table__pagination li {
    display: inline-block;
    padding: 0 5px;
    cursor: pointer;
    user-select: none;
}

.table__pagination a {
    outline: none;
}

.table__pagination li.selected {
    border: 1px solid mediumvioletred;
}

/* sorting panel */
.table__sorting-panel {
    display: flex;
    margin-bottom: 10px;
}

.table__sorting-panel .table__sorting__badge {
    margin-left: 10px;
    padding: 3px 5px;
    background-color: rgba(0, 255, 255, 0.2);
    border-radius: 7px;
}

.table__sorting-panel .table__sorting__badge--close {
    color: gray;
    font-size: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #00feff;
    cursor: pointer;
}

/* error */
.table__error {
    color: crimson;
    background-color: lightpink;
    text-align: center;
}
