:root {
    --sortedThBorder: 2px solid aqua;
}

.table {
    width: 100%;
}

.table thead {
    background-color: antiquewhite;
}

.table thead th {
    cursor: pointer;
}

.table__header {
    outline: none;
}

.table__header.header__sorted--desc {
    border-bottom: var(--sortedThBorder);
}

.table__header.header__sorted--asc {
    border-top: var(--sortedThBorder);
}

.table tbody tr.selected {
    background-color: aquamarine;
}

.table__progress td {
    text-align: center;
    padding: 10px 0;
}

.table__pagination li {
    display: inline-block;
    padding: 0 5px;
    cursor: pointer;
    user-select: none;
}

.table__pagination a {
    outline: none;
}

.table__pagination li.selected {
    border: 1px solid mediumvioletred;
}
